﻿@font-face
  font-family "Doloman Pavljenko Light"
  src url("../fonts/DolomanPavljenko.otf")

body
  background-color #f2f2f2
  font-family "Doloman Pavljenko Light"
  font-weight 300
  font-size 28px
  color #555
  -webkit-overflow-scrolling touch
  margin-top 50px

h1,h2,h3,h4,h5,h6
  font-family "Doloman Pavljenko Light"
  color #333

p
  line-height 28px
  margin-bottom 25px

button
  margin-top 20px
  flex-direction row
  justify-content center
  align-items center
  padding 18px 24px
  gap 10px
  background #38E0D2
  box-shadow inset 0px -1px 1px 1px rgba(52, 35, 170, 0.25)
  border-radius 5px

.centered
  text-align center

a
  &:link
    color #38E0D2
  &:visited
    color #38E0D2
  &:focus
    border-bottom 1px solid
    background #38E0D2
  &:hover
    border-bottom 1px solid
    background #38E0D2
  &:active
    background #38E0D2
    color #38E0D2

hr
  display block
  height 1px
  border 0
  border-top 1px solid #ccc
  margin 1em 0
  padding 0

.navbar
  font-weight 800
  font-size 25px
  padding-top 15px
  padding-bottom 15px

.navbar-inverse
  background #ffffff
  border-color #2d2d2d
  .navbar-nav
    & > .active
      & > a
        background-color #ff7878

.navbar-brand
  margin 1em
  color #ffffff
  font-size 32px
  &:visited
    margin 1em
    color #ffffff
    font-size 32px

.navbar-nav
  float none
  margin 0 auto
  text-align center
  & > li
    display inline-block
    float none

.head-container
  background #19DACE

.nav-link
  &:visited
    color #555

#headerwrap
  background url(../img/girl.jpg) no-repeat center top
  margin-top -10px
  padding-top 20px
  text-align center
  background-attachment relative
  background-position center center
  min-height 500px
  width 100%
  background-size 100%
  -webkit-background-size cover
  background-size cover
  h1
    margin-top 80px
    margin-left 0px
    color white
    font-size 70px
    font-weight 300
    letter-spacing 3px
  h2
    color white
    font-size 40px
    letter-spacing 2px
    text-transform uppercase

.w
  padding-top 50px
  h4
    font-size 35px

#dg
  background #e0e0e0
  padding-top 70px
  padding-bottom 70px
  text-align center
  h4
    font-size 40px
  img
    width 100%
    max-width 500px

#b
  background #7EE6DD
  padding-top 10px
  padding-bottom 10px
  h4
    color white
    font-size 45px

.nav-item
  img
    width 28px
    padding-right 4px
    padding-top 6px

#footer
  background #38E0D2
  padding-top 30px
  padding-bottom 20px
  font-size 28px
  img
    color #696565
    width 50px
    background #19DACE
    border-radius 5px
    &:hover
      color #7EE6DD
      padding 1px