#footer
  .container
    .centered
      b &Scy;&acy;&lcy;&ocy;&ncy; &kcy;&rcy;&acy;&scy;&ocy;&tcy;&ycy; &ldquo;&Bcy;&ucy;&kcy;&lcy;&yacy;&rdquo; &tcy;&iecy;&lcy; 890000000
      a(href='#')
        img(src='/static/img/vk.png')
      a(href='#')
        img(src='/static/img/tg.png')
