.head-container
  a.navbar-brand(href='#') &Scy;&acy;&lcy;&ocy;&ncy; &kcy;&rcy;&acy;&scy;&ocy;&tcy;&ycy; &quot;&Bcy;&ucy;&kcy;&lcy;&yacy;&quot;
nav.navbar.navbar-inverse.navbar-expand-lg.navbar-light(role='navigation')
  .container
    button.navbar-toggler(style='margin-right:5px !important;' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent')
      span.navbar-toggler-icon
    #navbarSupportedContent.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item
          a.nav-link(href='#')
            img(src='/static/img/home.png' width='28px' align='LEFT')
            | &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
        li.nav-item
          a.nav-link(href='#')
            img(src='/static/img/edit.png' width='28px' align='LEFT')
            | &TScy;&iecy;&ncy;&ycy; &icy; &ucy;&scy;&lcy;&ucy;&gcy;&icy;
        li.nav-item
          a.nav-link(href='#')
            img(src='/static/img/contact_phone.png' width='28px' align='LEFT')
            | &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
        li.nav-item
          a.nav-link(href='#')
            img(src='/static/img/settings.png' width='28px' align='LEFT')
            | &Ncy;&acy;&scy;&tcy;&rcy;&ocy;&jcy;&kcy;&icy;