extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	#headerwrap
		.container
			.row.centered
				.col-lg-4.col-lg-offset-2
					h1 &Kcy;&Rcy;&Acy;&Scy;&Ocy;&Tcy;&Ucy; &Tcy;&Vcy;&Ocy;&Rcy;&Icy;&Mcy; &Lcy;&YUcy;&Bcy;&Ocy;&Vcy;&SOFTcy;&YUcy;!
					h2 &Pcy;&rcy;&icy;&khcy;&ocy;&dcy;&icy;&tcy;&iecy; &ncy;&iecy; &pcy;&ocy;&zhcy;&acy;&lcy;&iecy;&iecy;&tcy;&iecy;
	.container.w
		.row.centered
			br
			br
			h2 &Kcy; &Kcy;&Ocy;&Mcy;&Ucy; &Vcy;&Ycy; &KHcy;&Ocy;&Tcy;&Icy;&Tcy;&IEcy; &Zcy;&Acy;&Pcy;&Icy;&Scy;&Acy;&Tcy;&SOFTcy;&Scy;&YAcy;
			.col-lg-4
				img(src='/static/img/brush.png' width='28px')
				h4 &Tcy;&ocy;&pcy;-&scy;&tcy;&icy;&lcy;&icy;&scy;&tcy;
				p
					| &Scy;&tcy;&acy;&zhcy;&#x9;&ocy;&tcy; 7 &lcy;&iecy;&tcy; 
					br
					| &Ocy;&kcy;&rcy;&acy;&shcy;&icy;&vcy;&acy;&ncy;&icy;&iecy; &#x9;&ocy;&tcy; 3500 &rcy;.
					br
					| &Scy;&tcy;&rcy;&icy;&zhcy;&kcy;&acy;&#x9;&ocy;&tcy; 3700 &rcy;
					br
					button &Zcy;&acy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy;
			.col-lg-4
				img(src='/static/img/brush.png' width='28px')
				h4 &Scy;&tcy;&icy;&lcy;&icy;&scy;&tcy;
				p
					| &Scy;&tcy;&acy;&zhcy;&#x9;&ocy;&tcy; 5 &lcy;&iecy;&tcy;
					br
					| &Ocy;&kcy;&rcy;&acy;&shcy;&icy;&vcy;&acy;&ncy;&icy;&iecy;&#x9;&ocy;&tcy; 3100 &rcy;.
					br
					| &Scy;&tcy;&rcy;&icy;&zhcy;&kcy;&acy;&#x9;2900 &rcy;.
					br
					button &Zcy;&acy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy;
			.col-lg-4
				img(src='/static/img/brush.png' width='28px')
				h4 &Mcy;&acy;&scy;&tcy;&iecy;&rcy;
				p
					| &Scy;&tcy;&acy;&zhcy;&#x9;&ocy;&tcy; 1 &gcy;&ocy;&dcy;&acy;
					br
					| &Ocy;&kcy;&rcy;&acy;&shcy;&icy;&vcy;&acy;&ncy;&icy;&iecy; &#x9;&ocy;&tcy; 2300 &rcy;.
					br
					| &Scy;&tcy;&rcy;&icy;&zhcy;&kcy;&acy;&#x9;1700 &rcy;.
					br
					button &Zcy;&acy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy;
		br
		br
	#dg
		.container
			.row.centered
				h4 &Pcy;&ocy;&scy;&lcy;&iecy;&dcy;&ncy;&icy;&iecy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy;
				br
				.col-lg-4
					.tilt
						a(href='#')
							img(src='/static/img/1.jpg' alt='')
				.col-lg-4
					.tilt
						a(href='#')
							img(src='/static/img/2.jpg' alt='')
				.col-lg-4
					.tilt
						a(href='#')
							img(src='/static/img/3.jpg' alt='')
	.container.wb
		.row.centered
			br
			br
			.col-lg-offset-2
				h4 &Mcy;&ycy; &scy;&ocy;&zcy;&dcy;&acy;&iecy;&mcy; &scy;&tcy;&icy;&lcy;&softcy;
	#b
		.container
			.row.centered
				.col-lg-offset-2
					h4 &Pcy;&rcy;&icy;&chcy;&iecy;&scy;&kcy;&icy; &icy; &ocy;&kcy;&rcy;&acy;&shcy;&icy;&vcy;&acy;&ncy;&icy;&iecy; &ncy;&acy; &lcy;&yucy;&bcy;&ocy;&mcy; &ucy;&rcy;&ocy;&vcy;&ncy;&iecy;
					p
						| &Mcy;&ycy; &scy;&ocy;&zcy;&icy;&dcy;&acy;&iecy;&mcy; &pcy;&rcy;&icy;&tcy;&yacy;&gcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ucy;&yucy; &acy;&tcy;&mcy;&ocy;&scy;&fcy;&iecy;&rcy;&ucy; &scy;&ocy;&tcy;&vcy;&ocy;&rcy;&chcy;&iecy;&scy;&tcy;&vcy;&acy; &icy; &rcy;&acy;&scy;&kcy;&rcy;&ycy;&vcy;&acy;&iecy;&mcy; &vcy; &ncy;&iecy;&jcy; &tcy;&acy;&lcy;&acy;&ncy;&tcy;&ycy; &icy; &ucy;&ncy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy; &kcy;&acy;&zhcy;&dcy;&ocy;&gcy;&ocy; &pcy;&rcy;&icy;&kcy;&ocy;&scy;&ncy;&ucy;&vcy;&shcy;&iecy;&gcy;&ocy;&scy;&yacy;, &scy;&ocy;&iecy;&dcy;&icy;&ncy;&yacy;&yacy; &kcy;&rcy;&acy;&scy;&ocy;&tcy;&ucy; &iecy;&gcy;&ocy; &vcy;&ncy;&ucy;&tcy;&rcy;&iecy;&ncy;&ncy;&iecy;&gcy;&ocy; &mcy;&icy;&rcy;&acy;, &icy; &mcy;&icy;&rcy;&acy; &vcy; &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&mcy; &mcy;&ycy; &zhcy;&icy;&vcy;&iocy;&mcy;.
	